<!doctype html>
<html lang="en">
  {% include 'user/head.html' %}

<body>
    <header>
      {% include 'user/header.html' %}

    </header>
    <main class="mt-6 flex size-full md:mt-14 lg:mt-0">
        <!-- Side Menu -->
        {% include 'user/dashboard_sidebar.html' %}
        <section class="flex h-full w-full flex-col overflow-y-auto px-5 md:px-[60px] lg:flex-grow lg:pl-5 lg:pr-10 lg:pt-6">
            {% if message %}
            <div class="message ">{{message}}</div>
            {% endif %}
            {% if messageError %}
            <div class="messageError">{{messageError}}</div>
            {% endif %}
            <form action="/api/user/password" method="post" class="form" enctype="multipart/form-data">
                <div class="col-8" id="password-change" data-aos="fade-up" data-aos-offset="200" data-aos-delay="10"
                    data-aos-duration="1000" class="col-span-6 rounded-md bg-white p-6 aos-init aos-animate">
                    <div class="flex flex-col gap-4">
                        <h2 class="text-xl font-bold">Change Password</h2>
                        {% if user is defined and user != "" %}
                        <input type="hidden" name="email" value="{{ user['email'] }}">
                        {% endif %}
                        
                        <div class="text-sm"><label class="font-normal text-sm">Previous Password (leave blank if you had no password)</label><input
                                type="password" name="oldPassword" placeholder="*******"
                                class="w-full focus:border-gray-300 text-sm mt-2 p-4 border border-gray-200 rounded text-gray-500 bg-white">
                        </div>
                        <div class="text-sm"><label class="font-normal text-sm">New Password</label><input
                                type="password" name="newPassword" placeholder="********" required
                                class="w-full focus:border-gray-300 text-sm mt-2 p-4 border border-gray-200 rounded text-gray-500 bg-white">
                        </div>
                        <div class="text-sm"><label class="font-normal text-sm">Confirm Password</label><input
                                type="password" name="confirmPassword" placeholder="********" required
                                class="w-full focus:border-gray-300 text-sm mt-2 p-4 border border-gray-200 rounded text-gray-500 bg-white">
                        </div>
                        <div class="flex justify-end items-center my-4">
                            <button
                                class="btn btn-form bg-main sm:w-auto w-full font-medium text-white  py-3 px-6 rounded "
                                style="background-color: #0fafe8; border-radius: 10px; width: max-content; padding: 10px; float: right;">Change
                                Password
                            </button>
                        </div>
                    </div>
                </div>
              </form>

                <style>
                    #password-change {
                        /* background-color: rgb(237, 245, 247) !important; */
                        padding: 20px;
                        border-radius: 20px;

                    }
                </style>
        </section>
    </main>

 



    
    <script src="../../static/user/index.js"></script>
</body>

</html>