<footer style="padding: 60px;"
class="flex w-full flex-col bg-primary px-5 pb-14 pt-9 text-sm font-normal md:flex-row md:px-[60px] md:pb-[72px] lg:p-20 lg:text-xl"
>
<a href="/"><img src="../../static/user/assets/lizie 1.svg" alt="" class="size-12 lg:size-[80px]" /></a>
<div
  class="mt-10 flex flex-col md:ml-[40px] md:mt-0 md:flex-grow md:flex-row lg:ml-[10%]"
>
  <div class="flex gap-10 md:gap-14">
    <ul class="flex flex-col gap-6 md:gap-5" style="font-family: Arial, Helvetica, sans-serif; color: rgb(75, 74, 74);">
      <li>Shop</li>
      <li>About Us</li>
      <li>Contact Us</li>
    </ul>
    <ul class="flex flex-col gap-6 md:gap-5" style="font-family: Arial, Helvetica, sans-serif; color: rgb(75, 74, 74);">
      <li>FAQ</li>
      <li>Policy</li>
      <li>Terms and Conditions</li>
    </ul>
  </div>
  <div class="mt-10 flex md:ml-10 md:mt-0 md:flex-grow lg:ml-24" style="font-family: Arial, Helvetica, sans-serif; color: rgb(75, 74, 74);">
    <div>
      <p>Pennsylvania, United States.</p>
      <p>Contact-Email: <a href="mailto:support@liziestyle.com">support@liziestyle.com</a></p>

    </div>
    <div class="ml-auto">
      <div class="rounded-full p-3">
        <a href="https://www.linkedin.com/company/liziestyle">
            <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin"/>
            </a>
      </div>
    </div>
  </div>
</div>
</footer>