<!DOCTYPE html>
<html lang="en">

{% include 'user/head.html' %}

<body>
    <div style="display: flex; justify-content: center; align-items: center; height: inherit;">
        <div style="text-align: center; max-width: 600px; padding: 20px;"><img
                src="../../static/user/assets/icons/success_card.png" alt="Success Icon"
                style="width: 100px; height: auto; margin: auto;">
            <h2 style="font-size: 2.5rem; color: green; margin-bottom: 1rem;">Order Successful!</h2>
            <p style="font-size: 1.5rem; color: rgb(51, 51, 51); margin-bottom: 1.5rem;">Thank you for your order.</p>
        </div>
    </div>
</body>

</html>