<!doctype html>
<html lang="en">
{% include 'user/head.html' %}

<body>
  <header>
    {% include 'user/header.html' %}
    <!-- search -->
    <div class="mx-5 mt-4 md:mx-[60px] md:mt-[52px] lg:hidden">
      <form action="" class="relative w-full">
        <div
          class="absolute left-[14px] top-1/2 flex -translate-y-1/2 transform items-center justify-center rounded-full bg-primary-100 p-[3px]">
          <img src="../../static/user/assets/icons/search.svg" />
        </div>
        <input type="text"
          class="w-full rounded-lg border border-[#D0D5DD] py-3 pl-[50px] pr-[14px] text-base shadow-sm placeholder:font-extralight placeholder:text-[#667085]"
          placeholder="Search dress, skirt, top, necklace..." />
      </form>
    </div>
  </header>

  <main class="mt-8 w-full flex-1 flex-grow px-5 md:mt-10 md:px-[60px] lg:mt-12 lg:px-20">
    <!-- Product images -->
    <section
      class="grid h-[302px] grid-cols-2 grid-rows-2 gap-4 md:h-[347px] md:grid-cols-4 md:gap-5 lg:h-[600px] lg:gap-6">
      {% if message %}
      <div class="message ">{{message}}</div>
      {% endif %}

      {% if messageError %}
      <div class="messageError">{{messageError}}</div>
      {% endif %}
      {% if product is defined%}
      <div class="rounded-lg bg-primary-100 md:col-span-2 md:row-span-2 lg:rounded-3xl">
        <img src="{{product['images'][0]}}" alt="{{product['images'][0]}}"
          style="width: 100%; height: 100%; border-radius: inherit;">
      </div>
      <div class="rounded-lg bg-primary-100 lg:rounded-3xl">
        <img src="{{product['images'][1]}}" alt="{{product['images'][1]}}"
          style="width: 100%; height: 100%; border-radius: inherit;">
      </div>
      <div class="rounded-lg bg-primary-100 lg:rounded-3xl">
        <img src="{{product['images'][2]}}" alt="{{product['images'][2]}}"
          style="width: 100%; height: 100%; border-radius: inherit;">
      </div>
      <div class="rounded-lg bg-primary-100 md:col-span-2 lg:rounded-3xl">
        <img src="{{product['images'][3]}}" alt="{{product['images'][3]}}"
          style="width: 100%; height: 100%; border-radius: inherit;">
      </div>
      {% endif %}
    </section>

    <!-- Product information -->
    <section class="mt-6 w-full md:mt-9 lg:mt-12">
      {% if product is defined%}
      <form action="/api/orders/add_to_cart" method="post"
        class="grid w-full grid-cols-1 gap-5 md:gap-[18px] lg:grid-cols-2">
        <div>
          <h1 class="text-lg md:text-2xl lg:text-4xl"
            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
            {{product['title']}}
          </h1>
          <p class="mt-3 text-sm font-normal text-secondary-700 md:mt-[18px] md:text-lg lg:mt-6 lg:text-xl">
            {{product['description']}}
          </p>
          <div class="mt-5 hidden flex-col lg:flex">
            <div class="flex flex-col gap-5">
              <div class="flex items-center">
               
                {% if reviews is defined and reviews != [] and product['_id'] in all_reviews | map(attribute='product_id') | map('string') | list  %}
                <!-- calculate the ratings -->
                    {% set ratings = all_reviews | selectattr('product_id', 'equalto', product['_id']) | map(attribute='rating') | map('int') | list %}
                    {% set total_rating = ratings | sum %}
                    {% set review_count = ratings | length %}
                    {% set average_rating = (total_rating / review_count) if review_count > 0 else 0 %}

                    {% for i in range(1, average_rating | round(0) | int + 1) %}
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                      style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                      viewBox="0 0 6.827 6.827">
                      <path style="fill:#ff8f00;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                      <path style="fill:#e68100;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                      <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                    </svg>
                    {% endfor %}
                    <a class="ml-1 text-sm text-secondary-500 md:text-base" href="#review-section">({{review_count}}
                      reviews)</a>
                    {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                      style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                      viewBox="0 0 6.827 6.827">
                      <path style="fill:grey;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                      <path style="fill:grey;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                      <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                    </svg>
    
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                      style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                      viewBox="0 0 6.827 6.827">
                      <path style="fill:grey;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                      <path style="fill:grey;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                      <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                      style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                      viewBox="0 0 6.827 6.827">
                      <path style="fill:grey;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                      <path style="fill:grey;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                      <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                      style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                      viewBox="0 0 6.827 6.827">
                      <path style="fill:grey;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                      <path style="fill:grey;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                      <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                      style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                      viewBox="0 0 6.827 6.827">
                      <path style="fill:grey;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                      <path style="fill:grey;fill-rule:nonzero"
                        d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                      <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                    </svg>
    
    
                    <a class="ml-1 text-sm text-secondary-500 md:text-base" href="#review-section">(0 reviews)</a>
    
                    {% endif %}
              </div>
              <h4 class="text-xl font-semibold md:text-2xl lg:text-4xl">
                {% if product['salesOffer'] is defined and product['salesOffer'] | int > 0 %}
                {% set price = product['price'] | float - (product['price'] | float * product['salesOffer'] | int / 100) %}
                  $<del>{{product['price']}}</del>  {{ price  | round(1) }}
                {% else %}
                    ${{product['price']}}
                {% endif %}
              </h4>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-y-5 md:grid-cols-2 md:gap-y-7 lg:gap-y-8">
          <!-- rating and price -->
          <div class="order-1 flex flex-col lg:hidden">
            <div class="flex flex-col gap-[10px] md:gap-[18px]">
              <div class="flex items-center">
                {% if reviews is defined and reviews != [] and product['_id'] in all_reviews | map(attribute='product_id') | map('string') | list  %}
                              <!-- calculate the ratings -->
                    {% set ratings = all_reviews | selectattr('product_id', 'equalto', product['_id']) | map(attribute='rating') | map('int') | list %}
                    {% set total_rating = ratings | sum %}
                    {% set review_count = ratings | length %}
                    {% set average_rating = (total_rating / review_count) if review_count > 0 else 0 %}


                    {% for i in range(1, average_rating | round(0) | int + 1) %}
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                  style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                  viewBox="0 0 6.827 6.827">
                  <path style="fill:#ff8f00;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                  <path style="fill:#e68100;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                  <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                </svg>
                {% endfor %}
                <a class="ml-1 text-sm text-secondary-500 md:text-base" href="#review-section">({{review_count}}
                  reviews)</a>
                {% else %}
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                  style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                  viewBox="0 0 6.827 6.827">
                  <path style="fill:grey;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                  <path style="fill:grey;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                  <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                  style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                  viewBox="0 0 6.827 6.827">
                  <path style="fill:grey;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                  <path style="fill:grey;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                  <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                  style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                  viewBox="0 0 6.827 6.827">
                  <path style="fill:grey;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                  <path style="fill:grey;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                  <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                  style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                  viewBox="0 0 6.827 6.827">
                  <path style="fill:grey;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                  <path style="fill:grey;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                  <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                </svg>
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                  style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                  viewBox="0 0 6.827 6.827">
                  <path style="fill:grey;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                  <path style="fill:grey;fill-rule:nonzero"
                    d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                  <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                </svg>


                <a class="ml-1 text-sm text-secondary-500 md:text-base" href="#review-section">(0 reviews)</a>

                {% endif %}
              </div>
              <h4 class="text-xl font-semibold md:text-2xl lg:text-4xl">
                {% if product['salesOffer'] is defined and product['salesOffer'] | int > 0 %}
                {% set price = product['price'] | float - (product['price'] | float * product['salesOffer'] | int / 100) %}
                  $<del>{{product['price']}}</del>  {{ price  | round(1) }}
                {% else %}
                    ${{product['price']}}
                {% endif %}
              </h4>
            </div>
          </div>
          <!-- variant color and size -->
          <div class="flex flex-row lg:order-4">
            <div class="flex flex-col gap-2 md:gap-4 row-5  ">
              <h6 class="md:text-xl lg:text-2xl"
                style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">choose variant;</h6>
              <div class="flex gap-2 font-normal" style="display: grid; grid-template-columns: repeat(3, 1fr);">
                <input id="variant" type="hidden" name="variant" value="" />
                {% for variant in product['variants'] %}
                {% set color, size = variant.split('-') %}
                <ul class="variant_btn"
                  style="list-style-type: none; padding: 2px 4px; border-radius: 5px; border: 1px solid gray;">
                  <li>
                    <div style="display: flex; flex-direction: row; margin-right: 10px; align-items: center;">
                      <div
                        style="background-color: {{color}}; font-size: 10px; width: 10px; height: 10px; display: inline-block; vertical-align: middle; margin-right: 5px;">
                      </div>
                      <div id="variant_value" style="font-size: 12px; width: max-content;">{{variant | upper}}</div>

                    </div>
                  </li>
                </ul>
                {% endfor %}











              </div>
            </div>
          </div>
          <!-- quantity -->
          <div class="order-4 flex flex-col lg:order-3">
            <div class="flex flex-col gap-2 md:ml-[50%] md:gap-4 lg:ml-auto">
              <h6 class="md:text-xl lg:text-3xl">Quantity</h6>
              <div class="flex items-center gap-[14px] md:gap-7">
                <div id="decrease"
                  class="flex size-9 items-center justify-center rounded-full bg-primary-600 text-white md:size-10 lg:size-12">
                  <i class="fas fa-minus"></i>
                </div>
                <span id="quantity" class="text-lg md:text-xl lg:text-3xl">1</span>
                <div id="increase"
                  class="flex size-9 items-center justify-center rounded-full bg-primary-600 text-white md:size-10 lg:size-12">

                  <i class="fas fa-plus"></i>
                </div>
                <input id="qty" name="qty" type="hidden" value="1" min="1"
                  class="text-lg md:text-xl lg:text-3xl text-center w-12" />
              </div>
            </div>
          </div>
        </div>

        <!-- form button to submit order -->
        <div class="mt-6">
          <button
            class="flex w-full items-center justify-center gap-[10px] rounded-lg bg-primary-600 py-5  text-white md:w-fit md:px-24 md:text-xl lg:px-8 lg:text-lg">
            <img src="../../static/user/assets/icons/shopping-bag-white.svg" alt=""
              class="size-6 md:size-7 lg:size-8" />
            <input type="hidden" name="product_id" value="{{product['_id']}}" />
            Add to Cart
          </button>
        </div>
      </form>
      

     
      <!-- review section -->
      {% include 'user/review.html' %}

     
      {% endif %}
    </div>


    </section>

    <!-- Related Categories -->
    <section class="mt-12 w-full md:mt-[72px] lg:mt-[120px]">
      <div class="flex items-center justify-between">
        <h2 class="text-xl md:text-xl lg:text-2xl">Related Categories</h2>
        <div class="flex gap-x-4">
          <svg stroke="#27A6CD" fill="#27A6CD" stroke-width="0" viewBox="0 0 16 16"
          class="sm:w-6 sm:h-6 w-32 h-32 text-main" height="25px" width="25px"  xmlns="http://www.w3.org/2000/svg">
       <path
         d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z">
       </path>
     </svg>
     
        </div>
      </div>
      <div class="mt-5 grid grid-cols-2 gap-4 md:mt-7 md:grid-cols-3 lg:mt-10 lg:grid-cols-4 lg:gap-[18px]">
        {% if relatedProducts is defined and relatedProducts != [] %}
              {% for related_product in relatedProducts %}
              <div class="rounded-b-md shadow-md md:rounded-b-lg lg:block">
                {% if related_product['salesOffer'] %}
                  <div 
                  style="background-color: green; 
                        font-size: 11px; 
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
                        color: white;
                        width: fit-content;
                        padding: 5px;
                        position:absolute;
                        float: right !important;
                        border-top-left-radius: 0.5rem ;
                      ">
                    save {{ related_product['salesOffer'] }}%-off 
                  </div>
                {%endif %}
                <a href="/product_detail/{{related_product['_id']}}" target="_blank">  <img
                  src="{{related_product['images'][0]}}"
                  alt=""
                  class="max-h-40 w-full rounded-t-md md:max-h-48 md:rounded-t-lg lg:max-h-[324px]"
                  style="height: 296.5px !important;"
                /></a>
                <div class="rounded-b-md bg-white px-2 py-[10px] md:px-[10px] lg:p-4">
                  <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <span
                    class="ml-1 text-[8px] text-secondary-500 md:text-[10px] lg:text-base" style="font-size: 10px; color: rgb(19 127 160) ; margin-left: 0px !important;"
                    >+{{related_product['variants'] | count}} variants/colors</span>
                     {% if related_product['featured'] and related_product['featured']  =='on' %}
                     <div style="font-size: 11px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(106, 104, 104); width: fit-content;">
                     sponsored
                    </div>
                     {%endif%}
                    
                  </div>
                  <h4 class="text-xs md:text-sm lg:text-xl">
                   {{ related_product['title']}}
                  </h4>
                  <div class="mt-2 flex items-center justify-between md:mt-[10px]">
                    <div class="flex flex-col">
                      <div class="flex items-center">

                        {% if reviews is defined and reviews != [] and related_product['_id'] in all_reviews | map(attribute='product_id') | map('string') | list  %}
                              <!-- calculate the ratings -->
                              {% set ratings = all_reviews | selectattr('product_id', 'equalto', related_product['_id']) | map(attribute='rating') | map('int') | list %}
                              {% set total_rating = ratings | sum %}
                              {% set review_related_count = ratings | length %}
                              {% set average_related_rating = (total_rating / review_related_count) if review_count > 0 else 0 %}

                              {% for i in range(1, average_related_rating | round(0) | int + 1) %}
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:#ff8f00;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:#e68100;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
                              {% endfor %}
                              <a class="ml-1 text-sm text-secondary-500 md:text-base" href="#review-section">({{review_related_count}})</a>
                              {% else %}
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
              
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
              
              
                              <a class="ml-1 text-sm text-secondary-500 md:text-base" href="#review-section">(0)</a>
              
                              {% endif %}
                      </div>
                      <span class="mt-1 text-xs font-semibold md:mt-2 md:text-sm lg:text-lg">
                         {% if related_product['salesOffer'] is defined and related_product['salesOffer'] | int > 0 %}
                        {% set price = related_product['price'] | float - (related_product['price'] | float * related_product['salesOffer'] | int / 100) %}
                            $<del>{{related_product['price']}}</del>  {{ price  | round(1) }}
                          {% else %}
                              ${{related_product['price']}}
                          {% endif %}
                        
                      </span>
                    </div>
      
                    <form action="/api/orders/add_to_cart" method="post">
                      <input type="hidden" name="product_id" value="{{related_product['_id']}}">
                      <input type="hidden" name="variant" value="{{related_product['variants'][0]}}">
                      <input type="hidden" name="qty" value="1">
                        <button
                        class="flex size-8 items-center justify-center rounded-full bg-primary-800 md:size-9 lg:size-14"
                      >
                        <img
                          src="../../static/user/assets/icons/shopping-bag-white.svg"
                          alt=""
                          class="size-4 md:size-6 lg:size-8"
                        />
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% else %}
              <div style="text-align: center; color: #27A6CD;"> <i class="fa fa-archive" aria-hidden="true"></i>   Nothing Here For Now  </div>
        {% endif %}

      </div>
    </section>

    <!-- Others You  May Like -->
    <section class="lg:md-[104px] mb-[73px] mt-12 w-full md:mb-[67px] md:mt-[72px] lg:mt-[120px]">
      <div class="flex items-center justify-between">
        <h2 class="text-xl md:text-xl lg:text-2xl" >Others (You May Like)</h2>
        <div class="flex gap-x-4">
                  <svg stroke="#27A6CD" fill="#27A6CD" stroke-width="0" viewBox="0 0 16 16"
            class="sm:w-6 sm:h-6 w-32 h-32 text-main" height="25px" width="25px" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 13a1.5 1.5 0 0 0 1.5 1.5h13A1.5 1.5 0 0 0 16 13V6a1.5 1.5 0 0 0-1.5-1.5h-13A1.5 1.5 0 0 0 0 6v7zM2 3a.5.5 0 0 0 .5.5h11a.5.5 0 0 0 0-1h-11A.5.5 0 0 0 2 3zm2-2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 0-1h-7A.5.5 0 0 0 4 1z">
          </path>
        </svg>
        </div>
      </div>
      <div class="mt-5 grid grid-cols-2 gap-4 md:mt-7 md:grid-cols-3 lg:mt-10 lg:grid-cols-4 lg:gap-[18px]">  
        {% if otherProducts is defined %}
              {% for other_product in otherProducts %}
              <div class="rounded-b-md shadow-md md:rounded-b-lg lg:block">
                {% if other_product['salesOffer'] %}
                  <div 
                  style="background-color: green; 
                        font-size: 11px; 
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
                        color: white;
                        width: fit-content;
                        padding: 5px;
                        position:absolute;
                        float: right !important;
                        border-top-left-radius: 0.5rem ;
                      ">
                    save {{ other_product['salesOffer'] }}%-off 
                  </div>
                {%endif %}
                <a href="/product_detail/{{other_product['_id']}}" target="_blank">  <img
                  src="{{other_product['images'][0]}}"
                  alt=""
                  class="max-h-40 w-full rounded-t-md md:max-h-48 md:rounded-t-lg lg:max-h-[324px]"
                  style="height: 296.5px !important;"
                /></a>
                <div class="rounded-b-md bg-white px-2 py-[10px] md:px-[10px] lg:p-4">
                  <div style="display: flex; flex-direction: row; justify-content: space-between;">
                    <span
                    class="ml-1 text-[8px] text-secondary-500 md:text-[10px] lg:text-base" style="font-size: 10px; color: rgb(19 127 160) ; margin-left: 0px !important;"
                    >+{{other_product['variants'] | count}} variants/colors</span>
                     {% if other_product['featured'] and other_product['featured']  =='on' %}
                     <div style="font-size: 11px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(106, 104, 104); width: fit-content;">
                     sponsored
                    </div>
                     {%endif%}
                    
                  </div>
                  <h4 class="text-xs md:text-sm lg:text-xl">
                   {{ other_product['title']}}
                  </h4>
                  <div class="mt-2 flex items-center justify-between md:mt-[10px]">
                    <div class="flex flex-col">
                      <div class="flex items-center">
                        {% if reviews is defined and reviews != [] and other_product['_id'] in all_reviews | map(attribute='product_id') | map('string') | list  %}
                              <!-- calculate the ratings -->
                              {% set ratings = all_reviews | selectattr('product_id', 'equalto', other_product['_id']) | map(attribute='rating') | map('int') | list %}
                              {% set total_rating = ratings | sum %}
                              {% set review_other_count = ratings | length %}
                              {% set average_other_rating = (total_rating / review_other_count) if review_other_count > 0 else 0 %}
                            

                              {% for i in range(1, average_other_rating | round(0) | int + 1) %}
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:#ff8f00;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:#e68100;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
                              {% endfor %}
                              <a class="ml-1 text-sm text-secondary-500 md:text-base" href="#review-section">({{review_other_count}})</a>
                              {% else %}
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
              
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
                              <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="15" height="15"
                                style="shape-rendering:geometricPrecision;text-rendering:geometricPrecision;image-rendering:optimizeQuality;fill-rule:evenodd;clip-rule:evenodd"
                                viewBox="0 0 6.827 6.827">
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923-1.343.923-.239.164.082-.278.462-1.564-1.292-.992-.23-.176.29-.008 1.63-.044.544-1.535.097-.274z" />
                                <path style="fill:grey;fill-rule:nonzero"
                                  d="m3.51 1.252.546 1.536 1.628.043.29.008-.23.176-1.293.993.463 1.563.082.277-.239-.163-1.344-.923V.98z" />
                                <path style="fill:none" d="M0 0h6.827v6.827H0z" />
                              </svg>
              
              
                              <a class="ml-1 text-sm text-secondary-500 md:text-base" href="#review-section">(0)</a>
              
                              {% endif %}
                      </div>
                      <span class="mt-1 text-xs font-semibold md:mt-2 md:text-sm lg:text-lg">
                        {% if other_product['salesOffer'] is defined and other_product['salesOffer'] | int > 0 %}
                          {% set price = other_product['price'] | float - (other_product['price'] | float * other_product['salesOffer'] | int / 100) %}
                            $<del>{{other_product['price']}}</del>  {{ price  | round(1) }}
                          {% else %}
                              ${{other_product['price']}}
                          {% endif %}

                      </span>
                    </div>
      
                    <form action="/api/orders/add_to_cart" method="post">
                      <input type="hidden" name="product_id" value="{{other_product['_id']}}">
                      <input type="hidden" name="variant" value="{{other_product['variants'][0]}}">
                      <input type="hidden" name="qty" value="1">
                        <button
                        class="flex size-8 items-center justify-center rounded-full bg-primary-800 md:size-9 lg:size-14"
                      >
                        <img
                          src="../../static/user/assets/icons/shopping-bag-white.svg"
                          alt=""
                          class="size-4 md:size-6 lg:size-8"
                        />
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% else %}
              <div style="text-align: center; color: #27A6CD;"> <i class="fa fa-archive" aria-hidden="true"></i>   Nothing Here For Now  </div>
        {% endif %}
      </div>
    </section>
  </main>
  {% include 'user/footer.html' %}
  <script>
    // code for the variant button
    const variant_btns = document.querySelectorAll('.variant_btn');
    const variantInput = document.getElementById('variant');
    const variantValue = document.getElementById('variant_value');

    // Loop through each selected element
    variant_btns.forEach((btn) => {
      btn.addEventListener('click', () => {
        variantInput.value = btn.innerText;
        btn.style.backgroundColor = "rgb(39 166 205";  // Directly assign the value
        // console.log('Button clicked!' + btn.innerText);
      });
    });





    // code for the quantity button
    const quantityInput = document.getElementById('qty');
    const show_quantity = document.getElementById('quantity');
    const increaseButton = document.getElementById('increase');
    const decreaseButton = document.getElementById('decrease');


    // Increase the value
    increaseButton.addEventListener('click', () => {
      quantityInput.value = parseInt(quantityInput.value || 0, 10) + 1;
      show_quantity.innerText = quantityInput.value;
    });

    // Decrease the value, ensuring it doesn't go below 1
    decreaseButton.addEventListener('click', () => {
      const currentValue = parseInt(quantityInput.value || 0, 10);
      if (currentValue > 1) {
        quantityInput.value = currentValue - 1;
        show_quantity.innerText = quantityInput.value;
      }
    });

    // Prevent invalid values (like negative or empty) on input blur
    quantityInput.addEventListener('blur', () => {
      if (parseInt(quantityInput.value, 10) < 1 || !quantityInput.value) {
        quantityInput.value = 1;
      }
    });


  </script>

  <script src="../../static/user/index.js"></script>

</body>

</html>