<!-- Search bar -->


    <form action="/catalog" method="get" class="relative w-full">
      <div
        class="absolute left-[14px] top-1/2 flex -translate-y-1/2 transform items-center justify-center rounded-full bg-primary-100 p-[3px]"
      >
        <img src="../../static/user/assets/icons/search.svg" />
      </div>
      <input
        type="text"
        name="product_name"
        class="w-full rounded-lg border border-[#D0D5DD] py-3 pl-[50px] pr-[14px] text-base shadow-sm placeholder:font-extralight placeholder:text-[#667085]"
        placeholder="Search Anything Here..."
      />
    </form>
  