<!doctype html>
<html lang="en">
{% include 'head.html' %}

<body>

  <header class="dc_header">
    <div class="navbar">
      <img src="../static/assets/dclogo.png">

      <ul class="navbar_list">
        <li>Home</li>
        <li>About</li>
        <li>Sermons</li>
        <li>Request Prayer</li>
      </ul>
    </div>

    <h2 class="navbar_caption">A PLACE TO WORSHIP, <br> GROW & BEYOND.</h2>
    <p>Join us as we seek God, build community, and make a difference. Whether you're new to faith or looking for a home
      church, you'll find a welcoming family here. Come experience inspiring worship, powerful messages, and a loving
      community.</p>

    <div class="header-info">
      <div class="info">
        <span class="info-1">Sunday Services</span>
        <i>No.19 Destiny crescent, behind old daughters of charity hospital, Kubwa-Abuja.</i>
        <br>
        <span class="info-2">Declaration Service</span>
        <div>
          <span class="info-1"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> Every Sundays </span>
          <span class="info-1"><i class="fa fa-clock" style="color: #2B71FC;"></i> 9.00am</span>
        </div>
      </div>
      <div class="info">
        <span class="info-1">Upcoming Event</span>
        <i>Happening Online.</i>
        <br>
        <span class="info-2">Prayer and Intercession for Nations</span>
        <div>
          <span class="info-1"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> Every weekends </span>
          <span class="info-1"><i class="fa fa-clock" style="color: #2B71FC;"></i> 10.00pm</span>
        </div>
      </div>
    </div>

  </header>



  <script src="../static/index.js"></script>
</body>

</html>