<footer>
  <a href="/" aria-label="footer logo" class="site-logo"><img src="../static/assets/dclogo.png"></a>
  <p>Copyright DESTINY CENTRE 2025. All Rights Reserved.</p>
  <a href="/login" aria-label="admin login" style="text-align: center; text-decoration: underline; color: grey;">Admin Portal</a>
  <div class="socials">
    <a href="https://youtube.com/@destinycentreunveilingchapel?si=YzF-2uySItgzN_uc" aria-label="youtube logo"><i class="bi bi-youtube fs-2"></i></a>
    <a href="https://www.facebook.com/theunveilingchapel" aria-label="footer logo"><i class="bi bi-facebook fs-2"></i></a>
    <a href="https://wa.me/+12024384052" aria-label="footer logo" aria-label="footer logo"><i class="bi bi-whatsapp fs-2"></i></a>
    <a href="mailto:destinycentre20@gmail.com"><i class="bi bi-envelope-at-fill fs-2"></i></a>
  </div>
 
</footer> 
