<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Destiny Centre | Unveiling Chapel</title>

  <meta name="description" content="Making Men Great For The Equipping of The Church">
  <link rel="canonical" href="https://www.destinycentrechurch.com/" aria-label="link to website">
  <meta name="keywords"
    content="sunday service, healing, deliverance, prophecy, mid weeks, counselling, marriage help, holy ghost baptism, impartation">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Prophet Peter">

  <!-- Open Graph for Social Media -->
  <meta property="og:type" content="website">
  <meta property="og:title" content="Destiny Centre | Unveiling Chapel">
  <meta property="og:description" content="Making Men Great For The Equipping of The Church">
  <meta property="og:image" content="https://destinycentrechurch.com/static/assets/dclogo.png">
  <meta property="og:url" content="https://www.destinycentrechurch.com/">

  <!-- Twitter Card for Better Twitter Sharing -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Destiny Centre | Unveiling Chapel">
  <meta name="twitter:description" content="Making Men Great For The Equipping of The Church">
  <meta name="twitter:image" content="https://destinycentrechurch.com/static/assets/dclogo.png">

  <!-- Favicon -->
  <link rel="icon" aria-label="favicon of the website liziestyle"
    href="https://destinycentrechurch.com/static/assets/dclogo.png" type="image/x-icon">

  <link href="../static/styles.css" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
    rel="stylesheet" />
  <!-- Include Font Awesome CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
</head>