<!doctype html>
<html lang="en">
{% include 'head.html' %}

<body>

  <header class="dc_header">
 {% include 'link.html' %}

    <h2 class="navbar_caption">A PLACE TO WORSHIP, <br> GROW & BEYOND.</h2>
    <p>Join us as we seek God, build community, and make a difference. Whether you're new to faith or looking for a home
      church, you'll find a welcoming family here. Come experience inspiring worship, powerful messages, and a loving
      community.</p>

    <div class="header-info">
      <div class="info">
        <span class="info-1">Sunday Services</span>
        <i>No.19 Destiny crescent, behind old daughters of charity hospital, Kubwa-Abuja.</i>
        <br>
        <span class="info-2">Declaration Service</span>
        <div>
          <span class="info-1"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> Every Sundays </span>
          <span class="info-1"><i class="fa fa-clock" style="color: #2B71FC;"></i> 9.00am</span>
        </div>
      </div>
      <div class="info">
        {% if ue is defined %}
        
          <span class="info-1">Upcoming Event</span>
          <i>{{ ue['location'] }}</i>
          <br>
          <span class="info-2">{{ ue['title'] }}</span>
          <div>
            <span class="info-1"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> {{ ue['date'] }}</span>
            <span class="info-1"><i class="fa fa-clock" style="color: #2B71FC;"></i> {{ ue['time'] }} </span>
          </div>
        {% endif %}
       
      </div>
    </div>

  </header>


  <div class="daily-prayer">
    {% if dp is defined %}
    <div>
      <p class="dp-caption">PRAYER OF THE DAY</p>
      
          <p class="dp-prayer">
            {{ dp['prayer'] }}
            <span style="float: right;">{{ dp['verse'] }}</span>
          </p>
      
    </div>
    <div class="dp-image">
      <img src="{{ dp['image'] }}" alt="daily prayer image" srcset="">
    </div>
    {% endif %}

  </div>


  <div class="vid">
  {% if vid is defined %}
    {{ vid['service'] | safe }}
  {% endif %}
  </div>

  <div class="schedule">
    <h3>WEEKLY SCHEDULE</h3>
    <span>Here’s our weekly services schedule, join us in worship.</span>
    <div class="schedule-info">
      <div class="s-info">
        <span class="info-1">Moment of Unveiling</span>
        <hr>
        <div>
          <span class="info-2"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> Every Tuesdays </span>
          <span class="info-2"><i class="fa fa-clock" style="color: #2B71FC;"></i> 6.00pm</span>
        </div>
      </div>
      <div class="s-info">
        <span class="info-1">Healing/Communion Service</span>
        <hr>
        <div>
          <span class="info-2"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> Every Thursdays </span>
          <span class="info-2"><i class="fa fa-clock" style="color: #2B71FC;"></i> 6.00pm</span>
        </div>
      </div>
      <div class="s-info">
        <span class="info-1">Prayer Vigil</span>
        <hr>
        <div>
          <span class="info-2"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> 1st Friday of Every Month </span>
          <span class="info-2"><i class="fa fa-clock" style="color: #2B71FC;"></i> 11.00pm</span>
        </div>
      </div>
    </div>

  </div>


  <div class="mp">
    <h3>MINISTERS & PROGRAMS</h3>
    <section class="sec-1">
      <div>
        <li class="bullet-points">Worship</li>
        <p>Experience God’s presence through praise, prayer, and biblical teaching.</p>
      </div>
      <div>
        <li class="bullet-points">Outreach</li>
        <p>Sharing God’s love through service, evangelism, and community support.</p>
      </div>
      <div>
        <li class="bullet-points">Youth</li>
        <p>Empowering young hearts to grow in faith, fellowship, and purpose.</p>
      </div>

    </section>

    <section class="sec-2">
      <div>
        <li class="bullet-points">Kids</li>
        <p>Experience God’s presence through praise, prayer, and biblical teaching.</p>
      </div>
      <div>
        <img src="../static/assets/mp.png" alt="community">
      </div>
    </section>

  </div>

  <div class="daily-quote">
    <span class="quote">&ldquo;</span>
    <p>Your splendor reflects Your magnificence, giving glory to God. <br>
      We need to understand that what God derives from our creation is to glorify him.</p>
    <span class="speaker"> - Prophet Peter</span>
  </div>


  
  {% include 'testimonies.html' %}



    {% include 'footer.html' %}













  <script src="../static/index.js"></script>
</body>

</html>