<!doctype html>
<html lang="en">
{% include 'head.html' %}

<body>

  <header class="dc_header">
    <div class="navbar">
     <a href="/"><img src="../static/assets/dclogo.png"></a> 

      <ul class="navbar_list">
        <li>Home</li>
        <li>About</li>
        <li>FaQs</li>
        <li>Sermons</li>
        <li>Request Prayer</li>
      </ul>
    
    </div>
    <hr class="hr" style="color: white;">

    <h2 class="navbar_caption">A PLACE TO WORSHIP, <br> GROW & BEYOND.</h2>
    <p>Join us as we seek God, build community, and make a difference. Whether you're new to faith or looking for a home
      church, you'll find a welcoming family here. Come experience inspiring worship, powerful messages, and a loving
      community.</p>

    <div class="header-info">
      <div class="info">
        <span class="info-1">Sunday Services</span>
        <i>No.19 Destiny crescent, behind old daughters of charity hospital, Kubwa-Abuja.</i>
        <br>
        <span class="info-2">Declaration Service</span>
        <div>
          <span class="info-1"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> Every Sundays </span>
          <span class="info-1"><i class="fa fa-clock" style="color: #2B71FC;"></i> 9.00am</span>
        </div>
      </div>
      <div class="info">
        <span class="info-1">Upcoming Event</span>
        <i>Happening Online.</i>
        <br>
        <span class="info-2">Prayer and Intercession for Nations</span>
        <div>
          <span class="info-1"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> Every weekends </span>
          <span class="info-1"><i class="fa fa-clock" style="color: #2B71FC;"></i> 10.00pm</span>
        </div>
      </div>
    </div>

  </header>


  <div class="daily-prayer">
    <div>
      <p class="dp-caption">PRAYER OF THE DAY</p>
      <p class="dp-prayer">Thank You for the gift of this new day. I surrender my worries, my plans, and my heart into
        Your loving hands.
        Guide my steps, fill me with Your peace, and help me to walk in faith and love. Strengthen me to face challenges
        with courage and remind me that I am never alone, for You are always with me.
        <span style="float: right;">Romans 8:38-39</span>
      </p>
    </div>
    <div class="dp-image">
      <img src="../static/assets/prayer.jpg" alt="daily prayer image" srcset="">
    </div>

  </div>


  <div class="vid">
    <iframe
      src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Ftheunveilingchapel%2Fvideos%2F547086081336963%2F&show_text=false&width=560&t=0"
      width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true"
      allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
  </div>

  <div class="schedule">
    <h3>WEEKLY SCHEDULE</h3>
    <span>Here’s our weekly services schedule, join us in worship.</span>
    <div class="schedule-info">
      <div class="s-info">
        <span class="info-1">Moment of Unveiling</span>
        <hr>
        <div>
          <span class="info-2"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> Every Tuesdays </span>
          <span class="info-2"><i class="fa fa-clock" style="color: #2B71FC;"></i> 6.00pm</span>
        </div>
      </div>
      <div class="s-info">
        <span class="info-1">Healing/Communion Service</span>
        <hr>
        <div>
          <span class="info-2"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> Every Thursdays </span>
          <span class="info-2"><i class="fa fa-clock" style="color: #2B71FC;"></i> 6.00pm</span>
        </div>
      </div>
      <div class="s-info">
        <span class="info-1">Prayer Vigil</span>
        <hr>
        <div>
          <span class="info-2"> <i class="fa fa-calendar" style="color: #2B71FC;"></i> 1st Friday of Every Month </span>
          <span class="info-2"><i class="fa fa-clock" style="color: #2B71FC;"></i> 11.00pm</span>
        </div>
      </div>
    </div>

  </div>


  <div class="mp">
    <h3>MINISTERS & PROGRAMS</h3>
    <section class="sec-1">
      <div>
        <li class="bullet-points">Worship</li>
        <p>Experience God’s presence through praise, prayer, and biblical teaching.</p>
      </div>
      <div>
        <li class="bullet-points">Outreach</li>
        <p>Sharing God’s love through service, evangelism, and community support.</p>
      </div>
      <div>
        <li class="bullet-points">Youth</li>
        <p>Empowering young hearts to grow in faith, fellowship, and purpose.</p>
      </div>

    </section>

    <section class="sec-2">
      <div>
        <li class="bullet-points">Kids</li>
        <p>Experience God’s presence through praise, prayer, and biblical teaching.</p>
      </div>
      <div>
        <img src="../static/assets/mp.png" alt="community">
      </div>
    </section>

  </div>

  <div class="daily-quote">
    <span class="quote">&ldquo;</span>
    <p>Your splendor reflects Your magnificence, giving glory to God. <br>
      We need to understand that what God derives from our creation is to glorify him.</p>
    <span class="speaker"> - Prophet Peter</span>
  </div>


  <h3 class="testimonies">
    TESTIMONIES
  </h3>
  <div class="testimonies">
    <div style="padding: 80px;" class="tsx">
      <img src="../static/assets/tvector.png" alt="Testimonial Image" class="testimonial-image">
      <div class="testimony">
        <span class="testifier">- Life Frank</span>
        <span class="message">Before I found Destiny Centre, I felt lost and uncertain about my faith. I was searching for
          peace, but nothing seemed to fill the emptiness inside. From the moment I walked through the doors of this
          church, I was welcomed with open arms and felt an overwhelming sense of love and belonging.</span>
      </div>
    </div>
  
  </div>



    {% include 'footer.html' %}













  <script src="../static/index.js"></script>
</body>

</html>