<div class="navbar">
    <a href="/"><img src="../static/assets/dclogo.png"></a> 

     <ul class="navbar_list">
       <a href="/" aria-label="header links"><li>Home</li></a>
       <a href="/about" aria-label="header links"><li>About</li></a>
       <a href="/about#faqs" aria-label="header links"><li>FaQs</li></a>
       <a href="/sermons" aria-label="header links"><li>Sermons</li></a>
       <a href="/prayers" aria-label="header links"><li>Request Prayer</li></a>
     </ul>
   
   </div>
   <hr class="hr" style="color: white;">