<!doctype html>
<html lang="en">
{% include 'head.html' %}

<body>

    <header class="sms_header">
        {% include 'link.html' %}

        <h2 class="navbar_caption">INSPIRATIONAL MESSAGES TO <br> STRENGTHEN YOUR FAITH.</h2>

    </header>


    <h3 class="sms-h3">SERMONS LIST</h3>

    <div class="sms-list">
        <div class="sms-container">
            <div class="single-sermon">
                <div class="img">
                    <i class="bi bi-play-circle-fill"></i>
                    <img src="../static/assets/sms1.jpg" alt="sermon-image">
                </div>

                <div class="content">
                    <span class="time">&raquo; 30 Mins</span>
                    <span class="topic">Living in the fullness of joy</span>
                    <span class="intro">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</span>
                </div>
            </div>
            <div class="single-sermon">
                <div class="img">
                    <i class="bi bi-play-circle-fill"></i>
                    <img src="../static/assets/sms1.jpg" alt="sermon-image">
                </div>

                <div class="content">
                    <span class="time">&raquo; 30 Mins</span>
                    <span class="topic">Living in the fullness of joy</span>
                    <span class="intro">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</span>
                </div>
            </div>
            <div class="single-sermon">
                <div class="img">
                    <i class="bi bi-play-circle-fill"></i>
                    <img src="../static/assets/sms1.jpg" alt="sermon-image">
                </div>

                <div class="content">
                    <span class="time">&raquo; 30 Mins</span>
                    <span class="topic">Living in the fullness of joy</span>
                    <span class="intro">Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.</span>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <button>
            <i class="fa fa-arrow-left" aria-hidden="true"></i> Previous
        </button>

        <div class="nums">
            <span class="active my-auto">1</span>
            <span class="my-auto">2</span>
            <span class="my-auto">3</span>
            <span class="my-auto">...</span>
            <span class="my-auto">5</span>
        </div>

        <button>
          Next  <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
    </div>


    {% include 'footer.html' %}






    <script src="../static/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>