<h3 class="testimonies">
    TESTIMONIES
  </h3>
  <div class="testimonies">
    <i class="bi bi-arrow-right-circle fs-2" style="color: #4A0404; float: right;"></i>
    <div style="padding: 80px;" class="tsx">
      <img src="../static/assets/tvector.png" alt="Testimonial Image" class="testimonial-image">
      <div class="testimony">
        
        <span class="testifier">- Life Frank</span>
        <span class="message">Before I found Destiny Centre, I felt lost and uncertain about my faith. I was searching for
          peace, but nothing seemed to fill the emptiness inside. From the moment I walked through the doors of this
          church, I was welcomed with open arms and felt an overwhelming sense of love and belonging.</span>
      </div>
    </div>
    <i class="bi bi-arrow-left-circle fs-2" style="color: #4A0404;"></i>
  </div>